{% load static %}

	<!-- FOOTER -->

	<footer class="footer">
		
		<div class="container">
			
			<div class="footer-columns">
				
				<!-- Ière colonne du footer -->
				<div class="footer-column reveal-1">
					
					<div class="footer-title">THE FIASCO</div>

					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, laboriosam?</p>

				</div>

				<!-- IIème colonne -->
				<div class="footer-column reveal-2">
					<div class="footer-title">CONTACT</div>

					Restaurant Français Corniche Sud, Conakry, Guinée <br>
					+224-664-88-58-20 <br>
					<a href="mailto:abdulkabirkeita825@gmail.com">fiascontact@service.com</a><br>

				</div>

				<!-- IIIème colonne du footer -->

				<div class="footer-column reveal-3">
					<div class="footer-title">HORAIRES D'OUVERTURE</div>
					<ul>
						<li>
							Lundi    | 09h AM - 11h PM
						</li>
						<li>
							Mardi    | 09h AM - 11h PM
						</li>
						<li>
							Mercredi | 09h AM - 11h PM
						</li>
						<li>
							Jeudi    | 09h AM - 11h PM
						</li>
						<li>
							Vendredi | 3h PM - 11h PM
						</li>
					</ul>
				</div>

			</div>

			<div class="footer-credits reveal-4">
				<p>
				
					<span>THE FIASCO </span>  tous les droits sont reservés &copy; 2021

				</p>
			</div>

		</div>


	</footer>


</body>
</html>