{% load static %}

<div class="topbar">
			<div class="logo">
				<a href="index.html">Le Fiasco</a>
			</div>

			<nav class="menu">

				<div class="bar"  id="bar">
					<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
				</div>
				<div class="liens">
				<a href="{% url 'home' %}" class="menu_item">Accueil</a>
				<a href="{% url 'menuhome' %}" class="menu_item">Menu</a>
				<a href="{% url 'recettehome' %}" class="menu_item">Recettes</a>
				<a href="{% url 'contacthome' %}" class="menu_item">Contact</a>
				<a href="#reservation" class="menu_item menu_button" >Reservation</a>
				</div>
			</nav>
		</div>