{% load static %}

	<!-- SECTION DEDIEE À LA RESERVATION -->
<section class="reservation" id="reservation" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.92) , rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
	url(' {% static 'img/reservation.jpg' %} ') center center / cover no-repeat; padding: 50px 0; color: rgba(255, 255, 255, 0.6); color: #fff; width: 100%;
  ">

		<div class="container">

			<div class="block block-centered block-last" >

				<div class="block-body">
					
					<h2 class="title reveal-1"> <span>Reservation</span></h2>
					<p class="reveal-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

				    <form action="#" class="reservation-form reveal-3" >
				    	<div class="reservation-form-row">
				    		<input type="text" name="fullname" placeholder="Votre nom">
					    	<select name="name" id="">
					    		<option value="1">Pour 1 personne</option>
					    		<option value="2">Pour 2 personnes</option>
					    		<option value="3">Pour 3 personnes</option>
					    		<option value="4">Pour 4 personnes</option>
					    		<option value="5">Plus de 4 personnes</option>
					    	</select>
					    	<input type="date" name="date">
				    	</div>
				    	<button class="button reveal-4" >Reserver</button>
				    </form>

				</div>
			</div>
			
		</div>
		
	</section>